.vscode/
.ipynb_checkpoints/

# Simulation runs are denoted by a date, time stamp and combinations
2025*/
LSV1M*/2024*/
LSV1M*/2025*/

# ignores jupyter stuff
LSV1M*/.ipynb_checkpoints/
LSV1M*/__pycache__/

# ignore my stuff from playing around
LSV1M*/results
LSV1M*/results-old/
LSV1M*/analysis_output.txt
LSV1M*/*.png
LSV1M*/*.ipynb

optimization/logs/
optimization/__pycache__/

ntbs/.ipynb_checkpoints/
ntbs/__pycache__/

my_scripts/__pycache__/

# my_scripts/
ParameterSearches/

OptLSV1M/
OptLSV1M/Opt*/
OptLSV1M/logs/
OptLSV1M/figures/